GitPython==3.1.44+computecanada
scipy==1.15.1+computecanada
packaging==24.2+computecanada
psutil==6.1.1+computecanada
mpmath==1.3.0+computecanada
optuna==4.3.0
bottle==0.13.2+computecanada
MarkupSafe==2.1.5+computecanada
numpy==2.2.2+computecanada
jinja2==3.1.6+computecanada
idna==3.10+computecanada
scikit_learn==1.5.2+computecanada
typing_extensions==4.13.2+computecanada
six==1.17.0+computecanada
safetensors==0.4.5+computecanada
colorlog==6.9.0+computecanada
huggingface_hub==0.30.2+computecanada
Mako==1.3.10
optuna-dashboard==0.18.0
click==8.1.8+computecanada
threadpoolctl==3.6.0+computecanada
annotated_types==0.7.0+computecanada
torchaudio==2.1.1+computecanada
numpy==1.26.4+computecanada
setproctitle==1.3.4+computecanada
platformdirs==4.3.6+computecanada
certifi==2025.1.31+computecanada
accelerate==1.6.0
absl_py==2.1.0+computecanada
ml_collections==0.1.1+computecanada
einops==0.6.1+computecanada
cffi==1.17.1+computecanada
sentry_sdk==2.20.0+computecanada
urllib3==2.4.0+computecanada
pydantic==2.10.6+computecanada
greenlet==3.1.1+computecanada
fsspec==2025.3.2+computecanada
filelock==3.18.0+computecanada
torch==2.1.2+computecanada
pycparser==2.22+computecanada
protobuf==5.29.3+computecanada
contextlib2==21.6.0+computecanada
pydantic_core==2.27.2+computecanada
setuptools==65.5.0
joblib==1.4.2+computecanada
gitdb==4.0.12+computecanada
sympy==1.13.1+computecanada
julius==0.2.7+computecanada
alembic==1.15.2
networkx==3.4.2+computecanada
wandb==0.19.6+computecanada
tqdm==4.67.1+computecanada
smmap==5.0.2+computecanada
charset_normalizer==3.4.1+computecanada
PyYAML==6.0.2+computecanada
docker-pycreds==0.4.0+computecanada
SQLAlchemy==2.0.40
pip==23.0.1
requests==2.32.3+computecanada
soundfile==0.12.1+computecanada
