torchaudio==2.1.1+computecanada
mpmath==1.3.0+computecanada
SQLAlchemy==2.0.41
click==8.2.1+computecanada
sentry_sdk==2.30.0+computecanada
GitPython==3.1.44+computecanada
requests==2.32.4+computecanada
psutil==6.1.1+computecanada
soundfile==0.12.1+computecanada
urllib3==2.5.0+computecanada
safetensors==0.5.3+computecanada
jinja2==3.1.6+computecanada
contextlib2==21.6.0+computecanada
fsspec==2025.5.1+computecanada
annotated_types==0.7.0+computecanada
pydantic==2.11.7
accelerate==0.32.1+computecanada
gitdb==4.0.12+computecanada
six==1.17.0+computecanada
setproctitle==1.3.4+computecanada
packaging==25.0+computecanada
PyYAML==6.0.2+computecanada
julius==0.2.7+computecanada
mako==1.3.10+computecanada
pydantic_core==2.33.2
cffi==1.17.1+computecanada
tqdm==4.67.1+computecanada
docker-pycreds==0.4.0+computecanada
certifi==2025.6.15+computecanada
huggingface-hub==0.33.0
platformdirs==4.3.8+computecanada
ml_collections==0.1.1+computecanada
protobuf==5.29.5
alembic==1.16.2
hf_xet==1.1.3+computecanada
typing_inspection==0.4.1+computecanada
einops==0.6.1+computecanada
charset-normalizer==3.4.2
sympy==1.14.0+computecanada
numpy==1.26.4+computecanada
filelock==3.18.0+computecanada
torch==2.1.1+computecanada
MarkupSafe==2.1.5+computecanada
smmap==5.0.2+computecanada
tomli==2.2.1+computecanada
typing_extensions==4.14.0+computecanada
pip==23.0.1
absl-py==2.3.0
pycparser==2.22+computecanada
networkx==3.4.2+computecanada
wandb==0.19.6+computecanada
setuptools==65.5.0
optuna==4.4.0
greenlet==3.1.1+computecanada
idna==3.10+computecanada
colorlog==6.9.0+computecanada
